# .ebextensions/01-options.config
option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:autoscaling:launchconfiguration:
    LaunchTemplateId: lt-04fe922b0ffa04340
    LaunchTemplateVersion: 1
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public