# .ebextensions/01-options.config
option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:ec2:instances:
    LaunchTemplate: ai-super-app-template
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public